.container {
  padding-right: var(--bs-gutter-x, 1.5rem);
  padding-left: var(--bs-gutter-x, 1.5rem);
}

.heading-cont {
  margin: 0 auto;
  text-align: center;
}

.heading-cont h1 {
  color: white;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .heading-cont h1 {
    font-weight: bold;
  }
}

.heading-cont p {
  color: #eee;
  width: 95%;
  margin: 0 auto;
  font-size: 18px;
}

.button {
  border: none;
  padding: 11px 0;
  width: 135px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:focus {
  outline: none;
}

.fill-button {
  color: #ff525d;
  background-color: white;
}

.fill-button:hover {
  background-color: #ff8f70;
  color: white;
}

.transparent-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
}

.transparent-button:hover {
  background-color: white;
  color: #ff525d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .btn-burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
}

header .btn-burger span {
  display: block;
  position: absolute;
  top: 10px;
  width: 30px;
  height: 3px;
  background-color: white;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .btn-burger span::after, header .btn-burger span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

header .btn-burger span::after {
  top: -10px;
}

header .btn-burger span::before {
  bottom: -10px;
  width: 60%;
}

header .btn-burger .openList {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

header .btn-burger .openList::before {
  width: 100%;
  -webkit-transform: rotate(45deg) translate(-14px, 6px);
          transform: rotate(45deg) translate(-14px, 6px);
}

header .btn-burger .openList::after {
  -webkit-transform: rotate(-45deg) translate(-20px, 0);
          transform: rotate(-45deg) translate(-20px, 0);
}

header .cont-nav-butt {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 10px 0 #6f6f6f;
          box-shadow: 0 0 10px 0 #6f6f6f;
  width: 85%;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0%;
  left: -100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .cont-nav-butt nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

header .cont-nav-butt nav ul {
  list-style-type: none;
  padding: 0;
}

header .cont-nav-butt nav ul li a {
  text-decoration: none;
  color: #777;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  display: block;
  font-size: 16px;
}

header .cont-nav-butt nav ul li a i {
  margin-left: 5px;
  font-size: 14px;
  color: #ff525d;
}

header .cont-nav-butt nav ul li a:hover {
  color: #000;
  text-decoration: underline;
}

header .cont-nav-butt nav ul .dropDown {
  border-radius: 5px;
  height: 0;
  padding: 0 15px;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #EFEFF1;
}

header .cont-nav-butt .btn-cont {
  text-align: center;
}

header .cont-nav-butt .btn-cont button {
  display: block;
  margin: 0px auto 10px;
  padding: 7px 10px;
}

header .cont-nav-butt .btn-cont button:first-child {
  background-color: transparent;
  color: #777;
}

header .cont-nav-butt .btn-cont button:last-child {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  color: white;
}

header .cont-nav-butt .btn-cont button:last-child:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff3d54), to(#ff8f70));
  background-image: linear-gradient(to right, #ff3d54, #ff8f70);
  color: white;
}

header .cont-nav-butt .dropList {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 15px !important;
  visibility: visible !important;
  margin: 10px 0;
}

header .openList {
  top: 25%;
  left: 50%;
}

@media screen and (min-width: 1024px) {
  header .btn-burger {
    display: none;
  }
  header .cont-nav-butt {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 0 #6f6f6f;
            box-shadow: 0 0 0 0 #6f6f6f;
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .cont-nav-butt nav {
    border-bottom: none;
    margin-bottom: 0;
    padding-left: 35px;
  }
  header .cont-nav-butt nav .list {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .cont-nav-butt nav .list li a {
    color: #eee;
  }
  header .cont-nav-butt nav .list li a:hover {
    color: white;
  }
  header .cont-nav-butt nav .list li a i {
    color: #eee;
  }
  header .cont-nav-butt nav .list li .dropDown {
    list-style: none;
    background-color: white;
    width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0px #707070;
            box-shadow: 0 0 5px 0px #707070;
    position: absolute;
    top: 40px;
    height: 0;
    padding: 0 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .cont-nav-butt nav .list li .dropDown li {
    padding: 5px 0px 5px 10px;
    text-align: left;
  }
  header .cont-nav-butt nav .list li .dropDown li > a {
    color: #888;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    font-weight: bold;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .cont-nav-butt nav .list li .dropDown li > a:hover {
    color: #000;
    padding-left: 5px;
  }
  header .cont-nav-butt .btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .cont-nav-butt .btn-cont button:first-child {
    color: #eee;
  }
  header .cont-nav-butt .btn-cont button:last-child {
    background-image: none;
    background-color: white;
    color: #ff525d;
  }
  header .cont-nav-butt .btn-cont button:last-child:hover {
    background-image: none;
    background-color: #ff8f70;
    color: white;
  }
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
}

p, h1 {
  line-height: 1.6;
}

/* End Global Rules */
.hero {
  height: 95vh;
  padding-top: 80px;
  padding-bottom: 160px;
  position: relative;
  background-color: #ff3d54;
  background-image: url("../../images/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-bottom-left-radius: 90px;
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 85vh;
  }
}

.hero .heading-cont {
  margin-top: 90px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero .heading-cont h1 {
    font-size: 50px;
  }
}

.hero .container > .btn-cont {
  text-align: center;
}

.hero .container > .btn-cont button:first-child {
  margin-right: 10px;
}

.introduction, .situation {
  overflow: hidden;
  padding-top: 80px;
}

.introduction .heading-cont, .situation .heading-cont {
  margin-bottom: 25px;
}

.introduction .heading-cont h1, .situation .heading-cont h1 {
  color: #1f3f5b;
  font-size: 27px;
  margin-bottom: 40px;
}

.introduction .img-cont img, .situation .img-cont img {
  width: 100%;
}

.introduction .img-cont .desktop-img, .situation .img-cont .desktop-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  display: none;
}

.introduction .boxs .box:first-child, .situation .boxs .box:first-child {
  margin-bottom: 60px;
  margin-top: 40px;
}

.introduction .boxs .heading-cont h1, .situation .boxs .heading-cont h1 {
  color: #1f3f5b;
  font-size: 27px;
  margin-bottom: 20px;
}

.introduction .boxs .heading-cont p, .situation .boxs .heading-cont p {
  color: #4b5862;
}

@media screen and (min-width: 1024px) {
  .introduction .heading-cont h1, .situation .heading-cont h1 {
    font-size: 30px;
  }
  .introduction .details, .situation .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .introduction .img-cont, .situation .img-cont {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .introduction .img-cont img, .situation .img-cont img {
    position: relative;
  }
  .introduction .img-cont .desktop-img, .situation .img-cont .desktop-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
    width: 140%;
    right: -50px;
    top: -70px;
  }
  .introduction .img-cont .mobile-img, .situation .img-cont .mobile-img {
    display: none;
  }
  .introduction .boxs, .situation .boxs {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .introduction .boxs .heading-cont, .situation .boxs .heading-cont {
    text-align: left;
  }
  .introduction .boxs .heading-cont p, .situation .boxs .heading-cont p {
    margin: 0;
    font-size: 16px;
  }
}

.infrastructure {
  background-color: #2c2d3f;
  position: relative;
  padding-top: 80px;
  margin-top: 120px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  z-index: 1;
}

.infrastructure .bg-image {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  border-top-right-radius: 90px;
}

.infrastructure .bg-image img {
  -webkit-transform: translate(-32%, -43%) scale(0.56);
          transform: translate(-32%, -43%) scale(0.56);
}

.infrastructure .container .phone-img {
  width: 100%;
}

.infrastructure .container .phone-img img {
  -webkit-transform: translateY(-55%) scale(1.1);
          transform: translateY(-55%) scale(1.1);
  width: 100%;
}

.infrastructure .container .text {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

@media screen and (min-width: 768px) {
  .infrastructure {
    padding-bottom: 80px;
    margin-top: 0;
  }
  .infrastructure .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infrastructure .container .phone-img {
    -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
  }
  .infrastructure .container .phone-img img {
    -webkit-transform: translate(20%, 7%) scale(2.1);
            transform: translate(20%, 7%) scale(2.1);
  }
  .infrastructure .container .text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .infrastructure .container .text .heading-cont {
    text-align: left;
  }
  .infrastructure .container .text .heading-cont p {
    margin: 0;
    font-size: 16px;
  }
}

.situation {
  padding-bottom: 80px;
}

.situation .img-cont .mobile-img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.situation .boxs .box:first-child {
  margin-top: 70px;
}

@media screen and (min-width: 1024px) {
  .situation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .situation .container .img-cont {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .situation .container .img-cont img {
    position: relative;
  }
  .situation .container .img-cont .desktop-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
    width: 175%;
    left: -440px;
    top: 0px;
  }
  .situation .container .img-cont .mobile-img {
    display: none;
  }
  .situation .boxs {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .situation .boxs .heading-cont {
    text-align: left;
  }
  .situation .boxs .heading-cont p {
    margin: 0;
    font-size: 16px;
  }
}

footer {
  background-color: #25252d;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top-right-radius: 90px;
}

footer .row div {
  text-align: center;
  margin-bottom: 30px;
}

footer .row div h6 {
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer .row div ul {
  list-style: none;
  padding: 0;
}

footer .row div ul li a {
  text-decoration: none;
  color: #afafaf;
  font-weight: bold;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .row div ul li a:hover {
  color: white;
  text-decoration: underline;
}

footer .row div ul li:not(:last-child) {
  margin-bottom: 7px;
}

footer .row div:first-child {
  margin-bottom: 65px;
}

@media screen and (min-width: 1024px) {
  footer .row div {
    margin-bottom: 0;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */